<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <% @event.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  <% end %>

  <p>
    <div class="field">
      <%= f.label :name %> <br>
      <%= f.text_field :name %>
    </div>
  </p>
  <p>
    <div class="field">
     <%f.label :url, "Description" %> <br>
     <%= f.text_area :url, rows:"10", cols:"30" %>
    </div>
  </p>
  <p>
    <div class="field">
      <%= f.label :date %> <br>
      <%= f.datetime_local_field :date%>
    </div>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>