<div class="box">
  <%= calendar @events do |event| %>
    <%= link_to event.name, event, :class =>"popper", :data_popbox => event.id %></br>
    <div id="<%=event.id%>" class="popbox">
      <h2><%= event.name %></h2>
      <p><%=h truncate(event.description, length: 200,omission: '... (continued)') %></p>
      <ul>
        <li><%= event.date.strftime("%I:%M%p")%> |</li>
        <li><%= pluralize(event.comments.count, "comment") %> |</li>
        <li><%= event.users.count %> attending</li>
      </ul>
    </div>
  <% end %>
</div>
