<div id="side">
  <div id="guests">
    <% if current_user %>
     <h3>Who's going:</h3>
      <% if @event.users.empty? %>
        <em>No one joined yet</em>
      <% else %>
        <% @event.users.each do |user| %>
          <%= "#{user.name}" %></br>
        <% end%>
      <% end%>
    <% else %>
      <p><%= link_to "Log in to see who's going", login_path, id: "small" %></p>
    <% end %>
  </div>
</div>

<div id="content">
  <div id="eventdescription">
    <h2><%= @event.name %></h2>

    <% if current_user && current_user.id == @event.user_id %>
      <div id="small">
        <%= link_to 'Edit Event', edit_event_path(@event) %> |
        <%= link_to 'Delete', @event, method: :delete, data: {confirm: 'Are you sure?'} %>
      </div> 
    <% else %>
      <div id="small">
        Added by <%= "#{User.find_by_id(@event.user_id).name}"%></br>
      </div>
    <% end %>

    <p>
      <strong>When:</strong>
      <span id="descr"><%= @event.date.strftime(" %B %d at %I:%M %p") %></span>
    </p>

    <%= render 'map' unless @event.address.blank? %>

    <table id="simple_format">
      <tr>
        <td><p><strong>Details:</strong></p></td>
        <td><span id="descr"><%= simple_format(@event.description.gsub(URI.regexp, '<a href="\0">\0</a>')).html_safe %></span></td>
      </tr>
    </table>

    <table id="button_table">
    <% if current_user && EventsUser.find_by(user_id: current_user.id, event_id:@event.id) %> 
      <tr>  
        <td><strong>Can't make it?</strong></td>

        <td>
          <div class="button">
            <%= button_to "Leave", not_going_path(@event), method: :delete %>
          </div>
        </td>
        <% else %>

        <td><strong>Are you going?</strong></td>

        <td>
          <div class="button">
            <%= button_to "Join", join_path(@event) %>
          </div>
        </td>
        <% end %>
      </tr>
    </table>
    <hr>
    <%= render 'comments' %>
  </div>
   
</div>
  
