<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="nav">
    <div id="user_header">
      <% if current_user %>
      <%= link_to "Name's account" %> |
      <%= link_to "Log out", logout_path %>
      <% else %>
      <%= link_to "Sign Up", signup_path %> |
      <%= link_to "Log in", login_path %>
      <% end %>
    </div>
    <div id="nav_bar">
      <%= link_to "Home", root_path %> |
      <%= link_to "New Event", new_event_path %>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
